version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin*"
      spring:
        patterns:
          - "org.springframework*"
          - "io.spring*"
      arrow-kt:
        patterns:
          - "io.arrow-kt*"
      kotest:
        patterns:
          - "io.kotest*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
